@model Library.Models.Book

@{
    ViewData["Title"] = "Delete";
}
<div class="row justify-content-center align-items-center">
    <div class="col-md-8">
        <h1 class="text-center">Удаление</h1>

        <h3 class="text-center">Вы точно хотите удалить?</h3>
        <hr />
        <div>
            <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
            </dl>
        
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Назад в список книг</a>
                </div>
            </form>
        </div>
    </div>
</div>

