@model Library.Models.BookLoan

@{
    ViewData["Title"] = "Create";
}
<div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-4">
            <img src="@Model.Book.ImagePath" alt="@Model.Book.Title" class="img-fluid" style="width: 300px; height: 400px;">
        </div>
        <div class="col-md-8 my-auto">
            <div class="card">
                <div class="card-body text-center">
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label for="email" class="fs-5">Вы берете книгу @Model.Book.Title
                                <br />
                                Автор @Model.Book.Author
                                <br />
                                Введите email для получения книги.
                            </label>
                            <input type="email" class="form-control mt-2" id="email" name="email" required>
                            <p class="text-danger">@TempData["Error"]</p
                        </div>
                        <input type="hidden" name="bookId" value="@Model.Book.Id" />
                        <button type="submit" class="btn btn-primary mt-2">Получить</button>
                    </form>
                </div>
                <div class="card-footer text-center mt-3">
                    <a asp-controller="Books" asp-action="Index" class="btn btn-secondary">Назад в список книг</a>
                </div>
            </div>
        </div>
    </div>
 